<section>
  <div class="ext-gap bluesh high-opacity">
    <div class="content-bg-wrap" style="background: url(../../../../assets/images/resources/animated-bg2.png)"></div>
    <div class="container-fluid">
      <div class="row">
        <div class="col-lg-12">
          <div class="top-banner">
            <h1>Our Blog Grid</h1>
            <nav class="breadcrumb">
              <a class="breadcrumb-item" href="index-2.html">
                Home
              </a>
              <span class="breadcrumb-item active">Blog</span>
            </nav>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
<section class="search-sec" style="z-index: 99999;">
  <div class="container">
    <form action="#" method="post" novalidate="novalidate">
      <div class="row">
        <div class="col-lg-12">
          <div class="row d-flex justify-content-center">
            <div class="col-lg-3 col-md-3 col-sm-12 p-0">
              <input type="text" class="form-control search-slt" placeholder="Enter Pickup City">
            </div>
            <div class="col-lg-3 col-md-3 col-sm-12 p-0 search-slt">
              <select class="form-control search-slt" id="exampleFormControlSelect1">
                <option>Select Vehicle</option>
                <option>Example one</option>
                <option>Example two</option>
                <option>Example three</option>
                <option>Example four</option>
                <option>Example five</option>
                <option>Example six</option>
              </select>
            </div>
            <div class="col-lg-3 col-md-3 col-sm-12 p-0">
              <button type="button" class="btn btn-danger wrn-btn">Search</button>
            </div>
          </div>
        </div>
      </div>
    </form>
  </div>
</section>