<div *ngFor="let data of allCom" class="mt-3">
    <div class="comet-avatar">
        <img crossorigin="anonymous" src="{{data.avatar}}" alt="avatar" *ngIf="data.avatar">
        <img crossorigin="anonymous" src="assets\images\1.jpg" *ngIf="!data.avatar">
    </div>


    <div class="we-comment">
        <div class="coment-head">

            <div class="dropdown float-right">
                <i *ngIf="data.UserId == idUserCon" class="fa fa-ellipsis-v"></i>
                <div class="dropdown-content mr-5">

                    <a (click)="delet(data.id)">Supprimer</a>

                </div>
            </div>
            <h5> {{data.fullName}} </h5>
            <span>{{moment(data.createdAt).fromNow()}}</span>
        </div>
        <p>{{data.description}} </p>
    </div>
</div>